@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
    font-size: 14pt;
    font-family: 'PingFang TC', -apple-system;
    color: CanvasText;
}

h1.headword {
    font-size: 150%;
    display: inline;
    margin-right: 0.5em;
}

span.syntax {
    color: -apple-system-secondary-label;
    margin-right: 0.5em;
}

p, li {
    white-space: pre-line;
}

li + li {
    margin-top: 0.3em;
}
